<section class="container"> 
    <h2 class="display-4">Password Reset</h2>
    <h4 class="lead">Please enter a new password.</h4>
    <ul class="list">
      <li class="list-item first">New password must be different from old password.</li>
      <li class="list-item second">Password must contain 8 to 15 characters.</li>
      <li class="list-item third">Spaces are not allowed.</li>
      <li class="list-item fourth">Password is case sensitivity.</li>
    </ul>
  
    <form action="/action_page.php">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" id="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="New password" id="pwd">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirm password" id="pwd">
      </div>
    </form>
    <a class="btn btn-primary btn-lg" href="#" role="button">Reset Password</a>
  
  </section>