.container {
    width: 50%;
  }
  h2 {
    padding-left: 1rem;
    width: 120%;
    font-weight: 600;
    font-size: 2rem;
    margin: 3rem 0 1.5rem 0;
  }
  
  h4 {
    width: 115%;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 3rem 0 1.5rem 0;
  }
  .form-control {
    border: 1px solid #000;
    border-radius: 0;
  }
  
  .btn {
    border-radius: 0;
    width: 80%;
    margin-left: 1.7rem;
    background:  #160D38;
  }
  
  @media (min-width: 992px) {
    .btn {
      margin-left: 4rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .container {
      width: 40%;
    }
  
    .btn {
      margin-left: 3.5rem;
    }
  
    h2 {
      padding-left: 5rem;
    }
  }