<section class="container">
  
    <h2 class="display-4">Password Reset</h2>
    <h4 class="lead">Please enter a new password.</h4>
    <ul class="list">
      <li class="list-item first">New password must be different from old password.</li>
      <li class="list-item second">Password must contain 8 to 15 characters.</li>
      <li class="list-item third">Spaces are not allowed.</li>
      <li class="list-item fourth">Password is case sensitivity.</li>
    </ul>
  
    <form action="/action_page.php">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" id="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="New password" id="pwd">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirm password" id="pwd">
      </div>
     
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </form>

</section>
  
  
  
  
  
  
  <!-- <p class="password-reset">Password Reset</p>
  <p class="new-password">Please enter a new password.</p>
  <ul class="list">
    <li class="list-item first">New password must be different from old password.</li>
    <li class="list-item second">Password must contain 8 to 15 characters.</li>
    <li class="list-item third">Spaces are not allowed.</li>
    <li class="list-item fourth">Password is case sensitivity.</li>
  </ul> -->
  <!-- <div class="form-group row firstinput-div">
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-sm firstinput" id="colFormLabelSm" placeholder="Username">
    </div>
  </div> -->
  <!-- <div class="form-group row bt secondinput-div">
    <div class="col-sm-10">
      <input type="password" class="form-control form-control-sm secondinput" id="colFormLabelSm" placeholder="New Password">
    </div> -->
  <!-- </div>
  <div class="form-group row thirdinput-div">
    <div  class="col-sm-10">
      <input type="password" class="form-control form-control-sm thirdinput" id="colFormLabelSm" placeholder="Confirm Password">
    </div> -->
 <!-- </div>
 <div class="button"> -->
  <!-- <button type="button" class="btn button-label">Change Password</button> -->
  <!-- <button type="button" class="btn button-label">Change Password</button>
</div> -->

<!-- <div class="form">
<form action="">
  <input type="text" class="firstinput" placeholder="Username">
  <input type="password" class="secondinput" placeholder="New Password">
  <input type="password" class="thirdinput" placeholder="Confirm Password">
</form>
</div> -->
  


<!-- <div class="container">
  <p>Password Reset</p>
  <p>Please enter a new password</p>
  <ul class="list-group">
    <li class="list-group-item">New password must be different from old password</li>
    <li class="list-group-item">Password must contain 8 to 15 characters</li>
    <li class="list-group-item">Spaces are not allowed</li>
    <li class="list-group-item">Password is case sensitivity</li>
  </ul>
</div> -->